.bar rect {
    fill: steelblue;
}

.bar text.count {
    fill: black;
    font: 12px sans-serif;
}
g text.count {
    fill: white;
    font: 12px sans-serif;
    font-weight: bold;
}
g text.sum {
    fill: black;
    font: 12px sans-serif;
    font-weight: bold;
}
#legend text {
    font: 14px sans-serif;
    font-weight: bold;
}

.axis {
    shape-rendering: crispEdges;
    font: 12px sans-serif;
}

.axis path {
    fill: none;
}

.y.axis path {
    stroke: black;
}
