#header {
	height: 200px;
	background-color: gray;
}

.footer {
	/* margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0; */
	height: 100px;
	background-color: gray;
}

.outputtext {
	color: red;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.footer, .push {
	height: 100px;
}

#login {
	position: relative;
	width: 800px;
	height: 300px;
	margin: 100px auto;
	border: solid;
}
#sign_up_button {
	position: absolute;
	right: 10px;
}
#sign_in {
	position: absolute;
	top: 50%;
	left: 25%;
	/* margin-right: -50%;
	transform: translate(-50%, -50%); */
}

#tab_view {
	width: 80%;
	margin: 100px auto;
}

/* To center bootstrap modal */
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

visible {
	visibility: visible
}

visible {
	visibility: hidden
}