#header {
	/*height: 200px;*/
	/* background-color: gray; */
}

.footer {
	/* margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0; */
	height: 100px;
	border-top: solid 1px gray;
	/* background-color: gray; */
}

.outputtext {
	color: red;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

.footer, .push {
	height: 100px;
}

#login {
	position: relative;
	width: 800px;
	height: 300px;
	margin: 100px auto;
	border: solid;
}
#sign_up_button {
	position: absolute;
	right: 10px;
}
#sign_in {
	/* margin-right: -50%;
	transform: translate(-50%, -50%); */
}

/*#tab_view {
	width: 80%;
	margin: 100px auto;
}*/

/* To center bootstrap modal */
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.visible {
	visibility: visible
}
.hidden {
	visibility: hidden
}
.display-none {
	display: none
}
.display-inline {
	display: inline
}

/* Bootstrap typeahead */
.typeahead, .tt-query, .tt-hint {
            border: 2px solid #CCCCCC;
            border-radius: 8px;
            font-size: 24px;
            height: 30px;
            line-height: 30px;
            outline: medium none;
            padding: 8px 12px;
            width: 396px;
        }
        .typeahead {
            background-color: #FFFFFF;
        }
        .typeahead:focus {
            border: 2px solid #0097CF;
        }
        
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
    height: 100px;
}

.fact-container {
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    border:3px dashed #aaa;
    border-radius:20px;
    padding:20px 40px;
    background-color:#eee
}

.fact {
    background-color:white;
    width:100%;
    border:2px solid #aaa;
    padding:20px;
    border-radius:20px
}

.left-note {
    background-color: #ebd9d5;
    border: 2px solid #bfa69f;
    height: 75px;
    line-height: 1.2em;
    padding-top: 15px;
    position: relative;
    text-align: center;
    top: -35px;
    left: -10px;
    width: 165px;
    z-index: 200;
}
.paperclip {
    width: 75px;
    height: 75px;
    left: -20px;
    position: absolute;
    top: -20px;
}

.students-age-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-image: linear-gradient(bottom, white 50%, #315551 50%);
    background-image: -webkit-linear-gradient(bottom, #315551 40%, white 40%);
    border: 3px solid #315551;
    color: white;
    height: 172px;
    margin: 15px auto;
    text-align: center;
    width: 172px;
}
.students-age-stat {
    color: #315551;
    font-size: 6em;
    font-weight: 900;
    margin-top: 10px;
}
.students-age-stat-label {
    font-size: 1.42857em;
    font-weight: 700;
    margin-top: -10px;
}

.grad_rate-container {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background-color: #d3d6f3;
    border: 3px solid #283259;
    color: #283259;
    height: 60px;
    width: 80%;
    margin-bottom: 5px;
    position: relative;
}

.grad_rate-stat {
    background-color: #283259;
    color: white;
    font-size: 2.6em;
    font-weight: 600;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 75px;
}

.grad_rate-details {
    line-height: 1em;
    margin-left: 80px;
    padding-top: 10px;
}